h1,h3{
    color:white;
    margin-top:100px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image:linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, black, black 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}
a{
    color:white;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: large;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}
#cta{
    display: flex;
    margin-left: 43%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
a:hover{
    color:red;
}
#img{
    display:block;
    margin-left:0px;
}
img{
    height:100%;
    width:100%;
}
.formlabel{
    margin-left: 55px;
}
input, #contactslct{
    width: 200px;
    height: 25px;
    border-radius: 5px;
}
form{
    margin-left: 43%;
    padding-top: 5%;
    display: block;
}
label{
    color:white;
}
#submit{
    margin-left: 5%;
    background-color: rgb(92, 92, 255);
    border: none;
    height:25px;
    width:70px;
    font: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    margin-top: 10px;
}
iframe{
    margin-left:35%;
}
.mid{
    margin-left: 40%;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    padding:10px;
    font-style: normal; 
}
textarea, #bld, #itlc, #undr, #size, #fnt{
    background-color: rgb(27, 27, 27);
    border-color: rgb(63, 63, 63);
    color: white;
}
textarea:focus{
    outline: none;
}
textarea{
    font-size: 20px;
    max-height: 180px;
    max-width: 40%;
    margin-left: 30%;
    border-radius: 3mm;
}
.logo{
    height: 50px;
    width: 50px;
    margin-left: 0%;
    background-color: transparent;
}
#brbr{
    width: 100%;
    display: flex;
    margin-left: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.header{
    margin-left: 35%;
}
.course123{
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    justify-content: space-around;
    align-items: center;
}
.btncourse1, .btncourse2, .btncourse3, .btncourse4, .btncourse5, .btncourse6, .btncourse7, .btncourse8, .btncourse9{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#btn1, #btn2, #btn3,#btn1c, #btn2c, #btn3c, #btn4c, #btn5c, #btn6c, #btn7c, #btn8c, #btn9c{
    color: white;
    background-color: black;
    border-color: gray;
}
.course1{
    height: 250px;
    width: 250px;
    background-image: url("C:/Users/jacco/Desktop/GoMyCode/checkpoint/res/course1.png");
    background-size: cover; 
    display: inline-block;
    text-align: center;
}

.course2{
    height: 250px;
    width: 250px;
    background-image: url(C:/Users/jacco/Desktop/GoMyCode/checkpoint/res/course2.png);
    background-size: cover;
    display: inline-block;
    text-align: center;
}
.course3{
    height: 250px;
    width: 250px;
    background-image: url(C:/Users/jacco/Desktop/GoMyCode/checkpoint/res/course3.png);
    background-size: cover;
    display: inline-block;
    text-align: center;
}
.course4{
    height: 250px;
    width: 250px;
    background-image: url(C:/Users/jacco/Desktop/GoMyCode/checkpoint/res/course4.png);
    background-size: cover;
    display: inline-block;
    text-align: center;
}
.course5{
    height: 250px;
    width: 250px;
    background-image: url(C:/Users/jacco/Desktop/GoMyCode/checkpoint/res/course5.png);
    background-size: cover;
    display: inline-block;
    text-align: center;
}
.course6{
    height: 250px;
    width: 250px;
    background-image: url(C:/Users/jacco/Desktop/GoMyCode/checkpoint/res/course6.png);
    background-size: cover;
    display: inline-block;
    text-align: center;
}
.course7{
    height: 250px;
    width: 250px;
    background-image: url(C:/Users/jacco/Desktop/GoMyCode/checkpoint/res/course7.png);
    background-size: cover;
    display: inline-block;
    text-align: center;
}
.course8{
    height: 250px;
    width: 250px;
    background-image: url(C:/Users/jacco/Desktop/GoMyCode/checkpoint/res/course8.png);
    background-size: cover;
    display: inline-block;
    text-align: center;
}
.course9{
    height: 250px;
    width: 250px;
    background-image: url(C:/Users/jacco/Desktop/GoMyCode/checkpoint/res/course9.png);
    background-size: cover;
    display: inline-block;
    text-align: center;
}
#vm{
    display: inline-block;
    margin-left: 45%;
}
.coursesimg{
    height: 450px;
    width: 100%;
    background-image: url(C:/Users/jacco/Desktop/GoMyCode/checkpoint/res/courses.png);
    background-size: cover;
    text-align: center;
}
.coursestxt{
    display: inline-block;
    margin-top: 120px;
}
.courset{
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 4em;
    font-family: serif;
}
